<%= stylesheet_link_tag "books", :media => "all" %>

<div class="main">

  <h2>Editing Book</h2>
  <%= form_with model: @book,  method: :patch do |f| %>

  <div class="sub">
  　<p>Title</p>
    <%= f.text_field :title %>
  </div>

  <div class="sub">
    <p>Body</p>
    <%= f.text_area :body %>
  </div>

  <div class="sub">
    <%= f.submit 'Update Book' %>
  </div>

  <div class="edit-sub">
    <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
  </div>

  <% end %>

</div>